{% extends 'base.html' %}
{% block content %}
<center>
<form method=post enctype=multipart/form-data class="container-fluid mt-3">
    {{form.hidden_tag()}}
    {{form.csrf_token}}
    {{form.file_name(class='form-control', placeholder='filename')}}<br>
    <input type="file" name="file" class="form-control"><br>
    {{form.submit(class='btn btn-primary')}}
</form>
    <h1>{{repo.name}}'s files -</h1>
    {% for file in repo.files %}
        <a href="/view/{{file.id}}">{{file.file_name}}</a><a href="/delete/{{file.id}}" class="btn btn-primary">Delete</a>
    {% endfor %}
</center>
{% endblock %}
